.btn.btn-equal {
  width: 100% !important;
  text-align: center;
}

.title-product {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.product-available {
  color: green;
}

.product-unavailable {
  color: red;
}
